<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HUDDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5DF850EB1D82A76900CD5D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DF851041D82A76900CD5D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DF8510F1D82A76900CD5D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
